body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: scroll;
  font-family: "Cabinet Grotesk", sans-serif !important;
}

/* Loaction: src\pages\layout.jsx */
/* Navigation styles */
.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background: #ffffff;
  border-bottom: 1px solid #f5f5f5;

  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
/* Burger menu and logo container on the navigation  */
.menu-wrap-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
/* Search bar */
.navigation-bar .search-bar input {
  outline: 0px;
  border: none;
  width: 400px;
  background: transparent;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  font-family: "Cabinet Grotesk", sans-serif;
  padding-top: 5px;
}

.search-bar {
  background: #feffff;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 4px 0px inset;
  padding: 10px 4px;
  border: 1px solid #f8f8f7;
  border-radius: 5px;
}

.form {
  display: inline-flex;
  align-items: center;
}
.navigation-bar button {
  border: none;
  background: transparent;
}

.location {
  font-size: 18px;
  font-family: "Cabinet Grotesk", sans-serif;
  display: inline-flex;
  align-items: center;
  align-self: center;
  gap: 5px;

  margin: 0px 35px 0px 0px;
}

.location span {
  font-weight: 500;
  font-size: 18px;
}

.navigation-bar .search-bar input:focus {
  outline: none;
}

.navigation-bar .login-buttons {
  display: inline-flex;
  align-items: center;
  font-family: "Cabinet Grotesk", sans-serif;
  gap: 20px;
}

.navigation-bar .login-buttons a {
  text-decoration: none;
  color: #000000;
}

.navigation-bar .login-buttons .login-btn {
  background: #108910;
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 50px;
}

.login-buttons .shopping-cart {
  padding: 5px 10px;
  background-color: #f8f8f8;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  align-self: center;
  gap: 8px;
}

.shopping-cart .cart-item-counter {
  font-size: 20px;
  color: #ccc;
  font-weight: 700;
}

/* End of navigation bar styles */

/* Shopping categories bottom bar tabs with icons */
.store-feed-container {
  margin-top: 100px;
}
.shopping-categories .category-name {
  font-size: 18px;
  text-align: left;
  font-weight: 700;
  letter-spacing: -1px;
  font-family: "Cabinet Grotesk", sans-serif;
  padding-bottom: 10px;
}

.shopping-categories .icon-link {
  display: block;
  text-align: center;
}

.shopping-categories .category-name {
  text-decoration: none;
  color: #000000;
}

.shopping-categories .category-name:hover {
  border-bottom: 2px solid grey;
}

.hero-wrapper {
  position: absolute;
  bottom: 50px;
  left: 70px;
}

.hero-wrapper h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.heading {
  font-size: 30px;
  font-weight: 650;
}

.filters {
  display: inline-flex;
  align-items: left;
  gap: 16px;
  padding: 30px 0px;
}

.filters a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  background-color: #e7e7e7;
  padding: 5px 20px;
  border-radius: 50px;
}

/* Store Cards styling */

.store-details-wrapper {
  line-height: 21px;
}

.store-name {
  font-size: 20px;
  font-weight: 600;
}

.delivery-hours {
  color: #108910;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 2px;
}

.delivery-eta {
  color: #000 !important;
}

.category {
  background: rgb(243, 243, 243);
  padding: 1px;
}

.filters .filter a:hover {
  background: #dadada;
}

.stores {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  margin: 0px 40px;
  padding: 0;
}

.card {
  width: 100%;
}

.banner {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background: #d43684;
  padding: 13px 0px 5px 0px;
  border-radius: 20px 20px 0px 0px;
  z-index: 5;
}

.banner-content h6 {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  align-self: center;
}

.banner-content .small-text {
  font-size: 15px;
  margin: 0px 10px;
}

.current-url {
  text-transform: capitalize;
}

.shop-btn-block {
  position: absolute;
  right: 50px;
  bottom: 10px;

  display: inline-flex;
  align-items: center;
  gap: 30px;
}

.shop-btn {
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 50px;
  text-decoration: none;
  color: #d43684;
  font-weight: 600;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.banner-close-btn {
  text-decoration: none;
  color: #ffffff;
}

.close {
  display: none;
}

.reference-link-btn {
  position: fixed;
  bottom: 18px;
  left: 10px;
  z-index: 99;
}

.reference-link-btn a {
  text-decoration: none;
  color: #ffffff;
  background: #23aa23;
  border-radius: 50px;
  padding: 10px;
}
